
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav{
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  

}


